@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: white;
  }

  html.dark {
    background-color: #000;
  }

  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    overflow-x: hidden;
    background-color: white;
  }

  body.dark {
    background-color: #000;
  }

  :root {
    --radius: 0.5rem;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
